html { /* Full backgroud in purple, change default font */
    background: #503078 no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Tahoma;
  }

p { /* Paragraph style */
    font-size: 18px;
    text-align: justify;
}

h1 { /* Header style 1 */
    font-weight: bold;
    color: #503078;
    font-size: 70px;
}
  
h2 { /* Header style 2 */
    font-weight: bold;
    color: #503078;
    font-size: 30px;
}

.link-icon { /* Link with a 18px icon before it */
    background-image: url('http://placehold.it/16x16');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 22px; /* Adjust according to image size to push text across. */
  }

.button { /* Button style */
    border: none;
    color: white;
    background-color: #503078;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.main-section {
    text-align: center;
    /*width: 100%;*/
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.white-section {
    background-color: white;
    /*width: 100%;*/
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /*box-shadow: 10px 10px rgba(0, 0, 0, 0.4);*/
}

ul { /* Bullet point without icon */
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
}

ul li{ /* Bullet point list item */
    padding-bottom: 10px;
}

/*To find icons: https://emojipedia.org/ */
ul li::before {
    content: "\2B50";
    margin-left: -20px;
    margin-right: 10px;
}

.list-star::before {
    content: "\2B50";
}

.list-micro::before {
    content: "\1f3a4";
}

.list-security::before {
    content: "\1f510";
}

.list-mute::before {
    content: "\1f507";
}

.list-zoom::before {
    content: "\1f50d";
}

.list-email::before {
    content: "\1f4e7";
}

.list-code::before {
    content: "\1f4dc";
}